[include Adaptive_Mesh.cfg]
[include timelapse.cfg]
[include inputshaper.cfg]
[include Adaptive_Purge.cfg]
[include macros.cfg]
[include mainsail.cfg]
[mcu]
##  Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2F0014001950534841313020-if00
restart_method: command
##--------------------------------------------------------------------

[mcu head0]
canbus_uuid:3a193edd4131

[adxl345]
cs_pin: head0: PB12
spi_software_sclk_pin: head0: PB10
spi_software_mosi_pin: head0: PB11
spi_software_miso_pin: head0: PB2
axes_map: x,y,z

[resonance_tester]
accel_chip: adxl345
probe_points:
    150, 150, 20  # an example


[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 4000            #Max 4000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#####################################################################
#   X/Y Stepper Settings
#####################################################################

##  B Stepper - Left
##  Connected to MOTOR_0
##  Endstop connected to DIAG_0
[stepper_x]
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: !PG6
position_min: 0

position_endstop: 350
position_max: 350
homing_speed: 75   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  A Stepper - Right
##  Connected to MOTOR_1
##  Endstop connected to DIAG_1
[stepper_y]
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 16
full_steps_per_rotation:200  #set to 400 for 0.9 degree stepper
endstop_pin: PG9
position_min: -5
position_endstop: 350
position_max: 350
homing_speed: 75  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0
 
#####################################################################
#   Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]
step_pin: PF11
dir_pin: PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: PG12
#position_endstop: -0.1
position_min:-15
position_max: 330

##--------------------------------------------------------------------
position_min: -15
homing_speed: 10
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PG4
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PF9
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PC13
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Extruder
#####################################################################

##  Connected to MOTOR_6
##  Heater - HE0
##  Thermistor - T0
[extruder]
step_pin: head0:PD0 #PE2 
dir_pin: head0:PD1 #LGX lite
enable_pin: !head0:PD2 #!PD4
heater_pin: head0:PB13  #head0:PA6 "HEAT"
rotation_distance: 12.6
gear_ratio: 50:17           
microsteps: 32
full_steps_per_rotation: 200    
nozzle_diameter: 0.400
filament_diameter: 1.75
sensor_type: ATC Semitec 104GT-2
sensor_pin: head0:PA3 # "THERMISTOR"
min_temp: -273
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 5
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

##  E0 on MOTOR6
[tmc2209 extruder]
uart_pin: head0:PA15 #PE1
interpolate: false
run_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0
#####################################################################
#   Bed Heater
#####################################################################

[heater_bed]
heater_pin: PA1
sensor_type: Generic 3950
sensor_pin:PF3
##  Adjust Max Power so your heater doesn't warp your bed. Rule of thumb is 0.4 watts / cm^2 .
max_power: 0.6
min_temp: -150
max_temp: 120
control: pid
pid_kp: 58.437
pid_ki: 2.347
pid_kd: 363.769

#####################################################################
#   Probe
#####################################################################


[probe]
pin: head0:PB6 #your probe pin goes here
x_offset: 0
y_offset: 25.0
#z_offset: 10
speed: 7
samples: 3
samples_result: average
sample_retract_dist: 3.0
samples_tolerance: 0.01
samples_tolerance_retries: 8
#####################################################################
#   Fan Control
#####################################################################

[fan]
##  Print Cooling Fan - FAN0
pin: head0:PA1
kick_start_time: 0.5
##  Depending on your fan, you may need to increase this value
##  if your fan will not start. Can change cycle_time (increase)
##  if your fan is not able to slow down effectively
off_below: 0.10

[heater_fan hotend_fan]
##  Hotend Fan - FAN1
pin: head0:PA0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
##  If you are experiencing back flow, you can reduce fan_speed
#fan_speed: 1.0

[controller_fan controller_fan_1]
##  Controller fan - FAN2
pin: PE5
kick_start_time: 0.5
heater: heater_bed

[controller_fan controller_fan_2]
##  Controller fan - FAN2
pin: PA8
kick_start_time: 0.5
heater: heater_bed

[fan_generic filter]
## Nevermore filter fans - FAN4
pin: PD14
max_power: 1.0
kick_start_time: 0.250
off_below: 0.30

[fan_generic exhaust]
##  Exhaust fan - FAN3
pin: PD15
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#####################################################################
#   LED Control
#####################################################################
[multi_pin LEDS]
pins: PB11,PB10,PA3


[output_pin caselight]
## Chamber Lighting - HE2 Connector (Optional)
pin: multi_pin:LEDS
pwm: true
shutdown_value: 0
value: 1
cycle_time: 0.01

[input_shaper]
#shaper_freq_x: 69.4
#shaper_type_x: mzv
#shaper_freq_y: 80.8
#shaper_type_y: mzv

[linear_movement_vibrations]
accel_chip: adxl345
x_min: 5
x_max: 175
y_min: 5
y_max: 175
output_directory: /home/pi/klipper_config/linear_vibrations/

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 10000

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  1.856309, 1.806309, 1.785893
#*# 	  1.841309, 1.838393, 1.783393
#*# 	  1.847143, 1.821726, 1.793393
#*# tension = 0.2
#*# min_x = 157.71
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 157.71
#*# x_count = 3
#*# max_y = 192.27
#*# mesh_x_pps = 2
#*# max_x = 192.27
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 17.847
#*# pid_ki = 0.744
#*# pid_kd = 107.084
#*#
#*# [stepper_z]
#*# position_endstop = 0.360
#*#
#*# [probe]
#*# z_offset = 5.740
