[include octopus_pins.cfg]
[include zcalibration.cfg]
[include macros.cfg]
[include mainsail.cfg]
[include klicky/klicky-probe.cfg]
[include timelapse.cfg]
#[include adxl.cfg]


[virtual_sdcard]
path: ~/gcode_files

[pause_resume]
[display_status]

[mcu]
###Change to device found by "ls -l /dev/serial/by-id/" with just one this MCU connected to Pi
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2D0006000F5053424E363620-if00



[printer]
kinematics: corexy
max_velocity: 300
max_accel: 20000
max_accel_to_decel: 20000
max_z_velocity: 10
max_z_accel: 500
square_corner_velocity: 8.0  

#####################################################################
# 	X/Y Stepper Settings
#####################################################################\

######
#MOTOR0 motor slot on main board (B Motor)
###############
[stepper_x]
step_pin: MOT0_STEP
dir_pin: !MOT0_DIR
enable_pin: !MOT0_EN
microsteps: 16 #8
rotation_distance: 40
full_steps_per_rotation: 200 #400
endstop_pin: ESTOP0
position_min: -20 #0

##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 70   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: MOT0_CS
run_current: 0.9
hold_current: 0.800
#stealthchop_threshold: 250

######
#MOTOR1 slot on main board (A Motor)
###############
[stepper_y]
step_pin: MOT1_STEP
dir_pin: !MOT1_DIR
enable_pin: !MOT1_EN
microsteps: 16 #8
rotation_distance: 40
full_steps_per_rotation: 200 #400
endstop_pin: ESTOP1
position_min: -20 
##	Uncomment for 300mm build
position_endstop: 300
position_max: 300

##--------------------------------------------------------------------
homing_speed: 70  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: MOT1_CS
run_current: 0.9
hold_current: 0.800
#stealthchop_threshold: 250

#####################################################################
# 	Z Stepper Settings
#####################################################################

######
# Z0 Stepper - Left Front
# MOTOR4 slot on board
###############
[stepper_z]
step_pin: MOT4_STEP
dir_pin: MOT4_DIR
enable_pin: !MOT4_EN
microsteps: 16
##T8x4 Lead Screws.  One rotation moves the bed 4mm 
##Change according to integrated steppers purchased
rotation_distance: 8
full_steps_per_rotation: 200
endstop_pin: ESTOP2
#  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
#  (+) value = endstop above Z0, (-) value = endstop below
#  Increasing position_endstop brings nozzle closer to the bed
#  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
#position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_max: 250
position_min: -20
homing_speed: 10

[tmc2209 stepper_z]
uart_pin: MOT4_CS
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

######
#MOTOR6 slot on expander board (Right Front Z)
###############
[stepper_z1]
step_pin: MOT6_STEP
dir_pin: MOT6_DIR
enable_pin: !MOT6_EN
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z1]
uart_pin: MOT6_CS
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

######
#MOTOR5 slot on expander board (Rear Z)
###############
[stepper_z2]
step_pin: MOT5_STEP
dir_pin: MOT5_DIR
enable_pin: !MOT5_EN
microsteps: 16
rotation_distance: 8
full_steps_per_rotation: 200

[tmc2209 stepper_z2]
uart_pin: MOT5_CS
run_current: 0.650
hold_current: 0.450
stealthchop_threshold: 30

######
#MOTOR3 slot on main board
###############
[extruder]
max_extrude_cross_section: 50
max_extrude_only_distance: 700.00
step_pin: MOT3_STEP
dir_pin: !MOT3_DIR
enable_pin: !MOT3_EN

# Tune per individual printer
# Default for Bondtech 5mm Bore Drive Gears
#rotation_distance: 34.37086
#full_steps_per_rotation: 200
#microsteps: 16
#gear_ratio: 7.5:1

rotation_distance: 55	        #LGX Big Boi Gears
gear_ratio: 45:14, 37:17		#LGX Gear Ratio
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree

nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0
pressure_advance_smooth_time: 0.040
##Connect hotend heater to HE0
heater_pin: HE0
##	Validate the following thermistor type to make sure it is correct
##  COnnect hot end thermistor to T0
#sensor_type: PT1000
sensor_type: ATC Semitec 104GT-2 #blue
#sensor_type: NTC 100K beta 3950 #white
#sensor_type: Generic 3950 #white
sensor_pin: T0
min_extrude_temp: 0
min_temp: 0
max_temp: 350
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
#Set appropriate once tuning your printer
#pressure_advance: .05
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040

[tmc2209 extruder]
uart_pin: MOT3_CS
run_current: 0.6
hold_current: 0.5
sense_resistor: 0.110
stealthchop_threshold: 0

[verify_heater extruder]
check_gain_time: 60

#####################################################################
# 	Bed Heater
#####################################################################   
[heater_bed]
#Connect to FAN4 PORT
heater_pin: FAN4
##  Choose the correct thermistor for your heater
##  Connect to TB port
sensor_type: Generic 3950
sensor_pin: TB
##	Adjust Max Power so your heater doesn't warp your bed
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769
pwm_cycle_time: 0.01695 #no rave parties here

#[heater_fan controller_fan]
##	Controller fan - E1 OUT
#pin: FAN0
#kick_start_time: 0.5
#max_power: 1.0
#fan_speed: 0.5
#heater: heater_bed
#heater_temp: 45.0
#shutdown_speed: 0.0
[fan_generic nevermore]
pin: FAN3
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0

#######################################
#### Enclosure Temp Sensor Section ####
#######################################
[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950


[temperature_sensor enclosure_temp]
sensor_type: chamber_temp
sensor_pin: T1
min_temp: 0
max_temp: 100
gcode_id: C

#####################################################################
# 	Probe
#####################################################################

######
#Z Max Connector on Z(main) Board
#Inductive Probe
#This probe is not used for Z height, only Z Tilt Adjust
###############
[probe]
##Uncomment if you are using inductive probe
##Connect to PROBE Connector
#pin: ^PRB_3

##Uncomment if you are using microswitch probe (klicky/quickdraw)
##microswitch probes have issues on the PROBE connector.
##Connect to ENDSTOP 3 PORT
pin: ESTOP3

x_offset: 0
y_offset: 25.0
#z_offset: 10
speed: 10
samples: 2
samples_result: average
sample_retract_dist: 2
samples_tolerance: 0.0075
samples_tolerance_retries: 5

#####################################################################
# 	Fan Control
#####################################################################

######
#Part Cooling Fan
#FAN1 Connector on Main Board
###############
[fan]
pin: FAN1

######
#Hotend Cooling Fan
#FAN0 Connector on Main Board
###############
[heater_fan hotend_fan]
pin: FAN0
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0

[heater_fan Basement]
pin: FAN5
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 0.10

## Any additional fans can be driven by Fan1/Fan3 slots
## at full power on the main board, or alternative solutions
## may be sought for MOSFET controlled ports.

#####################################################################
# 	Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800

[homing_override]
axes: z
set_position_z: 0
gcode:
   G90
   G0 Z5 F600
   G28 X Y
   ##	XY Location of the Z Endstop Switch
   ##	Update X and Y to your values (such as X157, Y305) after going through
   ##	Z Endstop Pin Location Definition step.
   G0 X167.5 Y300 F7200 
   
   G28 Z
   G0 Z10 F1800
   
	##	Uncomment for 300 build
   	G0 X150 Y150 Z30 F4800
#--------------------------------------------------------------------

#####################################################################
# 	Displays
#####################################################################

#Using the EXP-MOT Expander uses up standard Mini FYSETC Capable Display
#Ports.  Other solutions must be procured.

#####################################################################
# 	Macros
#####################################################################

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [stepper_z]
#*# position_endstop = 1.862
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.115
#*# pid_ki = 1.137
#*# pid_kd = 161.676
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 53.548
#*# pid_ki = 1.859
#*# pid_kd = 385.543
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.103750, 0.053750, 0.062500, 0.005000, -0.046250, -0.031250, -0.046250
#*# 	0.406250, 0.258750, 0.136250, 0.002500, -0.093750, -0.223750, -0.307500
#*# 	0.660000, 0.423750, 0.196250, -0.023750, -0.195000, -0.382500, -0.553750
#*# 	0.916250, 0.597500, 0.287500, 0.000000, -0.267500, -0.535000, -0.780000
#*# 	1.170000, 0.755000, 0.373750, -0.007500, -0.335000, -0.666250, -0.985000
#*# 	1.425000, 0.930000, 0.472500, 0.015000, -0.423750, -0.831250, -1.246250
#*# 	1.700000, 1.155000, 0.571250, 0.022500, -0.520000, -1.035000, -1.556250
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 7
#*# max_y = 259.96
#*# mesh_x_pps = 2
#*# max_x = 259.96
#*#
#*# [bed_mesh temp_110]
#*# version = 1
#*# points =
#*# 	0.056875, 0.028125, 0.006875, -0.008125, 0.010625, 0.050000, 0.081250
#*# 	0.060000, 0.021250, 0.014375, -0.000000, 0.008750, 0.046875, 0.084375
#*# 	0.063750, 0.030625, 0.026875, 0.000625, 0.021250, 0.056250, 0.124375
#*# 	0.041875, 0.021875, 0.006250, 0.000000, 0.030625, 0.081875, 0.163750
#*# 	0.039375, 0.016250, 0.023750, 0.016875, 0.040000, 0.104375, 0.204375
#*# 	0.025625, 0.032500, 0.041875, 0.035625, 0.066875, 0.125000, 0.230000
#*# 	0.021250, 0.038125, 0.061250, 0.050625, 0.086875, 0.139375, 0.214375
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 7
#*# max_y = 259.96
#*# mesh_x_pps = 2
#*# max_x = 259.96
#*#
#*# [bed_mesh temp_60]
#*# version = 1
#*# points =
#*# 	0.035625, 0.010625, -0.028750, -0.032500, -0.018750, 0.020000, 0.050625
#*# 	0.051250, 0.007500, -0.006875, -0.022500, -0.013750, 0.018750, 0.070000
#*# 	0.075000, 0.031875, -0.000000, -0.006250, 0.013125, 0.044375, 0.117500
#*# 	0.052500, 0.025625, 0.007500, 0.000000, 0.025625, 0.080000, 0.171875
#*# 	0.046875, 0.019375, 0.020000, 0.010000, 0.036875, 0.101250, 0.207500
#*# 	0.032500, 0.038125, 0.030000, 0.032500, 0.064375, 0.121250, 0.222500
#*# 	0.018125, 0.028125, 0.034375, 0.029375, 0.061250, 0.121875, 0.200625
#*# tension = 0.2
#*# min_x = 40.0
#*# algo = bicubic
#*# y_count = 7
#*# mesh_y_pps = 2
#*# min_y = 40.0
#*# x_count = 7
#*# max_y = 259.96
#*# mesh_x_pps = 2
#*# max_x = 259.96
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 58.6
#*# shaper_type_y = zv
#*# shaper_freq_y = 57.4
#*#
#*# [probe]
#*# z_offset = 6.300
